<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>
        {%- if site.titlePrefix -%}
            {{ site.titlePrefix }}
            {%- if page.title -%} | {% endif -%}
        {%- endif -%}
        {{ page.title -}}
    </title>
    <meta name="description" content="{{ site.description }}">

    <link async rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link async rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ "/favicon.ico?1" | prepend: site.baseurl }}">
    {% seo %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    {% if site.css.extra -%}
    {%- for css in site.css.extra -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
    {%- endfor -%}
    {%- endif %}
  
    {% if site.head.include -%}
        {% include {{ site.head.include }} %}
    {%- endif %}

    <link async rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" integrity="sha384-AJ82o1PQz2xMlVWjJ+IdPSfyCVS/nJeYbLcpPhm/cEPrewaEdaYkaG6LCsquvogf" crossorigin="anonymous"/>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" integrity="sha384-l+e8/kt7mRYg7RUc/i3MsNwDJlWxkWkFDX10LF/iNglZLT96GBMAPrbaH2GP2lQy" crossorigin="anonymous"></script>

    <script>
    var googleAnalyticsId = undefined;
    {% if site.analytics.enable -%}
    googleAnalyticsId = "{{ site.analytics.id }}";
    {%- endif %}
    </script>
    <script defer src="{{ "/assets/js/cookie-consent.js" | prepend: site.baseurl }}"></script>
</head>
