<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span>
                    {% if site.logo %}
                        <img src="{{ site.logo | relative_url }}" alt="Logo">
                    {% else %}
                        <img src="{{site.baseurl}}/assets/img/logonav.png" alt="Logo">
                    {% endif %}
                </span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if site.blog.enable == true %}
                    <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | prepend: site.baseurl }}">Blog</a></li>
                {% endif %}
                {% if site.nav %}
                    {% for section in site.nav %}
                        <li {% if page.sectionid==section.id %} class="active" {% endif %}><a href="{{ section.url | prepend: site.baseurl }}">{{ section.name }}</a></li>
                    {% endfor %}
                {% endif %}
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/home/" | prepend: site.baseurl }}">Docs</a></li>
            </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Search...">
                        <i class="fas fa-search form-control-feedback"></i>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    {%- if site.sponsor -%}
                    <li><a href="https://github.com/sponsors/{{ site.sponsor }}" title="Sponsor this project"><i class="fa-fw far fa-heart" style="color:#ea4aaa"></i></a></li>
                    {%- endif -%}
                    <li><a href="{{ site.git_address }}" title="Github Repository"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
